<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee                              https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- 1️⃣ Map URL /home.jsp tới file thực /view/hotel/home.jsp -->
    <servlet>
        <servlet-name>HomeJsp</servlet-name>
        <!-- đường dẫn bên trong ứng dụng tới file JSP -->
        <jsp-file>/view/hotel/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>RoomAdminController</servlet-name>
        <servlet-class>controller.admin.RoomAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevenueController</servlet-name>
        <servlet-class>controller.admin.RevenueController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookingEditController</servlet-name>
        <servlet-class>controller.admin.BookingEditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomDeleteServlet</servlet-name>
        <servlet-class>controller.admin.RoomDeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomEditServlet</servlet-name>
        <servlet-class>controller.admin.RoomEditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createRoomController</servlet-name>
        <servlet-class>controller.admin.createRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatbotController</servlet-name>
        <servlet-class>controller.ChatbotController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeJsp</servlet-name>
        <!-- URL rút gọn hiển thị cho người dùng -->
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <!-- 2️⃣ Gõ http://localhost:9999/LGBT_Hotel/ sẽ tự vào /home.jsp -->
    <servlet-mapping>
        <servlet-name>RoomAdminController</servlet-name>
        <url-pattern>/roomadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookingEditController</servlet-name>
        <url-pattern>/bookingedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomEditServlet</servlet-name>
        <url-pattern>/roomedit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createRoomController</servlet-name>
        <url-pattern>/createroom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatbotController</servlet-name>
        <url-pattern>/chatbot</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>RegisterValidationFilter</filter-name>
        <filter-class>Filter.RegisterValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegisterValidationFilter</filter-name>
        <url-pattern>/register</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>RoomDeleteFilter</filter-name>
        <filter-class>Filter.RoomDeleteFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoomDeleteFilter</filter-name>
        <url-pattern>/deleteroom</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>ResetPasswordValidationFilter</filter-name>
        <filter-class>Filter.ResetPasswordValidationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ResetPasswordValidationFilter</filter-name>
        <url-pattern>/reset-password</url-pattern>
    </filter-mapping>
</web-app>
